<div class="container">
  <mat-accordion multi displayMode="flat">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Dimensioni Tema </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list (click)="close()">
        @for(link of linksMaterial; track link.path ){
        <a mat-list-item [routerLink]="link.path"
          ><span>{{ link.title }}</span></a
        >
        }
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Animazione </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list (click)="close()">
        @for(link of linksAnimation; track link.path ){
        <a mat-list-item [routerLink]="link.path"
          ><span>{{ link.title }}</span></a
        >
        }
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
