.container {
  // margin-left: 1rem;
  // padding-left: 1rem;

  .title-group {
    font: var(--sys-title-medium);
    margin-bottom: 0;
  }

  mat-nav-list {
    margin-inline: 1rem;
  }

  a {
    height: 36px;

    span {
      font: var(--sys-body-medium);
    }
  }
}
