<div class="buttons">
  <h3>Tema globale</h3>
  <button mat-button>Basic</button>
  <button mat-raised-button>Raised</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-flat-button>Flat</button>
</div>

<mat-divider />

<div class="buttons custom-theme">
  <h3>Tema personalizzato: Rose Red</h3>
  <p>
    <b><em>vedi custom-theme in styles/themes/_custom.scss</em></b>
  </p>
  <button mat-button>Basic</button>
  <button mat-raised-button>Raised</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-flat-button>Flat</button>
</div>

<mat-divider />

<div class="buttons button-rounded">
  <h3>Forma personalizzata</h3>
  <p>
    <b><em>vedi button-rounded in styles.scss</em></b>
  </p>
  <button mat-button>Basic</button>
  <button mat-raised-button>Raised</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-flat-button>Flat</button>
</div>

<mat-divider />

<div class="buttons overrides-example">
  <h3>Esempio Overrides [attn! ai colori!!!!]</h3>
  <p>
    <b><em>vedi overrides-example in styles.scss</em></b>
  </p>
  <button mat-button class="overrides-example">Basic</button>
  <button mat-raised-button class="overrides-example">Raised</button>
  <button mat-stroked-button class="overrides-example">Stroked</button>
  <button mat-flat-button class="overrides-example">Flat</button>
</div>

<mat-divider />

<div class="buttons">
  <h3>Buttons Color Variants</h3>
  <h4>Secondary</h4>
  <button mat-button class="mat-secondary">Basic</button>
  <button mat-raised-button class="mat-secondary">Raised</button>
  <button mat-stroked-button class="mat-secondary">Stroked</button>
  <button mat-flat-button class="mat-secondary">Flat</button>
</div>

<mat-divider />

<div class="buttons">
  <h4>Tertiary</h4>
  <button mat-button class="mat-tertiary">Basic</button>
  <button mat-raised-button class="mat-tertiary">Raised</button>
  <button mat-stroked-button class="mat-tertiary">Stroked</button>
  <button mat-flat-button class="mat-tertiary">Flat</button>
</div>
