<div class="container">
  <button mat-icon-button class="btn-menu" (click)="menuClick.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <h6>Page content</h6>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolor in
    fuga eos molestiae tempora dolore dignissimos commodi aspernatur facilis
    saepe sunt, ratione optio placeat ea nisi similique laborum reiciendis omnis
    sequi mollitia. Assumenda, facere? Et nobis necessitatibus ipsam, ex
    explicabo dolorum nisi nulla odit quo veritatis tenetur non veniam voluptas
    error, iste nostrum distinctio repellendus magnam quam est esse laudantium
    eligendi eos qui? Magni natus soluta tempora fugiat ex culpa exercitationem
    optio temporibus tenetur quod aut labore, qui, asperiores explicabo eligendi
    nobis, magnam ratione sunt ad! Impedit fugit nihil magnam, distinctio
    laboriosam illum excepturi doloremque hic dignissimos, maiores dolorem.
  </p>
</div>
