<button
  class="btn-toggle"
  (click)="isOpen = !isOpen; isOpen ? _startAnimation() : _resetAnimation()"
  mat-icon-button
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <mat-icon>radio_button_checked</mat-icon>
</button>

<!-- This template displays the overlay content and is connected to the button -->
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  (overlayOutsideClick)="isOpen = false; $event.stopPropagation()"
  [cdkConnectedOverlayHasBackdrop]="false"
  minHeight="400px"
  minWidth="500px"
>
  <app-generate-colors
    class="mat-elevation-z2"
    [@transformChangeSeed]="_panelAnimationState"
    (@transformChangeSeed.start)="_onAnimationStart($event)"
    (@transformChangeSeed.done)="_onAnimationDone($event)"
    [color]="getCurrentColor()"
    (changeColor)="colorChanged($event)"
    (reset)="reset()"
    (saveColor)="saveColor($event)"
  />
</ng-template>
