<div class="grid-inverse">
  <div class="item-inverse-surface">
    <span class="mat-body-small items-pad">Inverse Surfaces</span>
  </div>
  <div class="item-inverse-on-surface">
    <span class="mat-body-small items-pad">Inverse On Surfaces</span>
  </div>
  <div class="item-inverse-primary">
    <span class="mat-body-small items-pad">Inverse Primary</span>
  </div>
  <div class="item-scrim">
    <span class="mat-body-small items-pad">Scrim</span>
  </div>
  <div class="item-shadow">
    <span class="mat-body-small items-pad">Shadow</span>
  </div>
</div>
