<div class="grid-surface-container">
  <div class="item-surface-container-lowest surfaces-container">
    <span class="mat-body-small">Surface Container Lowest</span>
  </div>

  <div class="item-surface-container-low surfaces-container">
    <span class="mat-body-small">Surface Container Low</span>
  </div>

  <div class="item-surface-container surfaces-container">
    <span class="mat-body-small">Surface Container</span>
  </div>

  <div class="item-surface-container-high surfaces-container">
    <span class="mat-body-small">Surface Container High</span>
  </div>

  <div class="item-surface-container-highest surfaces-container">
    <span class="mat-body-small">Surface Container Highest</span>
  </div>
</div>
