<div class="grid-surface">
  <div class="item-surface-dim surfaces">
    <span class="mat-body-small">Surface Dim</span>
  </div>

  <div class="item-surface surfaces">
    <span class="mat-body-small">Surface</span>
  </div>

  <div class="item-surface-bright surfaces">
    <span class="mat-body-small">Surface Bright</span>
  </div>

  <div class="item-inverse">
    <app-colors-inverse />
  </div>

  <div class="item-surface-container">
    <app-colors-surface-container />
  </div>

  <div class="item-on-surface">
    <app-colors-on-surface-outline />
  </div>
</div>
