.container {
  display: block;
  height: 100%;

  .sidenav {
    width: 250px;
  }

  .sidenav-content {
    display: grid;
    grid-template-rows: min-content 1fr;

    .toolbar-content {
      position: sticky;
      top: 0;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .toolbar-left {
        display: flex;
        align-items: center;

        flex-grow: 1;

        .toolbar-brand {
          @media ((max-width: 767.98px)) {
            flex-grow: 1;
            text-align: center;
          }
        }
      }

      .toolbar-right {
        display: flex;
        align-items: center;
      }
    }

    .section-sidenav-content {
      border: 1px solid green;
      overflow: auto;

      @media (pointer: fine) {
        scrollbar-width: thin;
        // scrollbar-color: thumb track;
        scrollbar-color: transparent transparent;
      }
    }
  }
}

// @media (pointer: fine) {
//   @supports not selector(--webkit-scrollbar) {
//     scrollbar-width: thin;
//     // scrollbar-color: thumb track;
//     scrollbar-color: red orange;
//     // scrollbar-color: transparent transparent;
//   }

//   @supports selector(--webkit-scrollbar) {
//     &::-webkit-scrollbar {
//       background-color: #310606; // other color for debug
//       width: 8px;
//     }

//     &::-webkit-scrollbar-thumb {
//       border-radius: 4px;
//     }
//   }
// }
