// src/app/shared/components/color-picker/color-picker.component.scss

.container {
  position: relative;

  .color-picker-input {
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    pointer-events: none;
  }
}
