<button mat-icon-button class="btn-menu" (click)="menuClick.emit()">
  <mat-icon>menu</mat-icon>
</button>
<h6>Content</h6>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, et rem
  pariatur nostrum totam fugiat tempore fuga nulla iste reprehenderit sapiente
  error aperiam odio repudiandae earum qui, porro id natus aut vitae quas.
  Blanditiis quidem, voluptates delectus qui laudantium, quibusdam libero
  recusandae ut maiores eos dolore aliquam quisquam ad. Molestias?
</p>
