<div class="commands">
  <button mat-icon-button aria-label="Undo theme" (click)="undo()">
    <mat-icon aria-label="Undo theme icon">undo</mat-icon>
  </button>

  <div>
    <button
      mat-stroked-button
      (click)="colorPickerInput.click()"
      style="border-radius: 4px"
    >
      <span>{{ color }}</span>
    </button>

    <input
      type="color"
      name="color-picker"
      id="color-picker"
      class="color-picker-input"
      #colorPickerInput
      [value]="color"
      (input)="changeTheme($event)"
    />
  </div>

  <button mat-icon-button aria-label="Save theme" (click)="save()">
    <mat-icon aria-label="Save theme icon">save</mat-icon>
  </button>
</div>
