:host {
  width: 100%;
  // border: 1px solid;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .color-picker-input {
    position: absolute;
    top: 24px;
    left: 4px;
    opacity: 0;
    pointer-events: none;
  }
}
