@use "@angular/material" as mat;
// @use "./styles/themes/default-theme" as theme;
@use "./styles/themes/m3-theme-94a3b8" as themes;

// themi personalizzati
@use "./styles/themes/custom-theme";

@use "./styles/sizes";

// stili sui componenti
@use "./styles/components";

@include mat.core();

:root {
  @include mat.all-component-themes(themes.$light-theme);
  @include components.theme(themes.$light-theme);

  @include mat.typography-hierarchy(themes.$light-theme);

  @include mat.system-level-colors(themes.$light-theme);
  @include mat.system-level-typography(themes.$light-theme);
}

.dark-theme {
  @include mat.all-component-colors(themes.$dark-theme);
  @include components.color(themes.$dark-theme);

  @include mat.system-level-colors(themes.$dark-theme);
  @include mat.system-level-typography(themes.$dark-theme);
}

// ********************* Sostituisci a .dark-theme per replica statica light/dark del sistema
// @media (prefers-color-scheme: dark) {
//   :root {
//     .............................
//   }
// }****************************************************************************************

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  // margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Personalizzaione forma pulsanti
.button-rounded {
  --border-radius: 16px;
  --mdc-text-button-container-shape: var(--border-radius);
  --mdc-protected-button-container-shape: var(--border-radius);
  --mdc-outlined-button-container-shape: var(--border-radius);
  --mdc-filled-button-container-shape: var(--border-radius);
}

// Personalizzazione pulsanti usando overrides API
.overrides-example {
  button {
    @include mat.button-overrides(
      (
        container-color: #00ff00,
        container-height: 64px,
        container-shape: 32px,
        label-text-color: orange,
        ripple-color: #ff0000,
        outline-color: #0000ff,
      )
    );
  }
}

// Adding color variants to the button using button-color API
// Primary is the default color variant, so we don't need to specify it
$color-variants: (secondary, tertiary);

@each $variant in $color-variants {
  .mat-#{$variant} {
    @include mat.button-color(themes.$light-theme, $color-variant: $variant);
  }
}
